
<!DOCTYPE html>

<html lang="en-us" data-content_root="./">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>env config content &#8212; Hedwi work suite  documentation</title>
    <link rel="stylesheet" type="text/css" href="_static/pygments.css?v=d75fae25" />
    <link rel="stylesheet" type="text/css" href="_static/custom.css?v=c21daf79" />
    
    <script src="_static/documentation_options.js?v=1a69d087"></script>
    <script src="_static/doctools.js?v=fd6eb6e6"></script>
    <script src="_static/sphinx_highlight.js?v=6ffebe34"></script>
    <script src="_static/bizstyle.js"></script>
    <link rel="icon" href="_static/favicon.ico"/>
    <link rel="index" title="Index" href="genindex.html" />
    <link rel="search" title="Search" href="search.html" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!--[if lt IE 9]>
    <script src="_static/css3-mediaqueries.js"></script>
    <![endif]-->
  </head><body>
    <div class="related" role="navigation" aria-label="Related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="nav-item nav-item-0"><a href="index.html">Hedwi work suite  documentation</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href="">env config content</a></li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <section id="env">
<span id="env-example"></span><span id="help-env-example"></span><h1>env config content<a class="headerlink" href="#env" title="Link to this heading">¶</a></h1>
<p>只需要关注 『* 需要修改』的部分</p>
<div class="highlight-bash notranslate"><div class="highlight"><pre><span></span><span class="nv">DOCKER_REGISTRY</span><span class="o">=</span><span class="s2">&quot;registry.cn-shanghai.aliyuncs.com/&quot;</span><span class="w">    </span><span class="c1">#   如果访问docker hub比较慢，可以改成使用阿里云容器服务 &quot;registry.cn-shanghai.aliyuncs.com/&quot;</span>
<span class="nv">DOMAIN</span><span class="o">=</span><span class="s2">&quot;work.example.com&quot;</span><span class="w">                               </span><span class="c1"># * 需要修改 域名 建议使用子域名</span>
<span class="nv">ADMIN_EMAIL</span><span class="o">=</span><span class="s2">&quot;xxx@example.com&quot;</span><span class="w">                           </span><span class="c1"># * 需要修改 管理员邮箱</span>
<span class="nv">ADMIN_PASSWORD</span><span class="o">=</span><span class="s2">&quot;passwordneedchange&quot;</span><span class="w">                     </span><span class="c1"># * 需要修改 管理员密码</span>
<span class="nv">BINDIP</span><span class="o">=</span><span class="s2">&quot;127.0.0.1&quot;</span><span class="w">                                      </span><span class="c1">#   监听地址 不经过nginx代理的时候应该使用0.0.0.0或者指定地址</span>
<span class="nv">MINIO_USER</span><span class="o">=</span><span class="s2">&quot;changeusername&quot;</span><span class="w">                             </span><span class="c1"># * 需要修改 minio 用户名</span>
<span class="nv">MINIO_PASSWORD</span><span class="o">=</span><span class="s2">&quot;changepassword&quot;</span><span class="w">                         </span><span class="c1"># * 需要修改 minio 密码</span>
<span class="nv">MINIO_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:9000&quot;</span><span class="w">                             </span><span class="c1">#   minio 监听地址</span>
<span class="nv">MINIO_USESSL</span><span class="o">=</span><span class="s2">&quot;false&quot;</span><span class="w">                                    </span><span class="c1">#   minio 是否使用https</span>
<span class="nv">MINIO_WEB_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:9001&quot;</span><span class="w">                         </span><span class="c1">#   minio web界面监听地址</span>
<span class="nv">HEDWI_LICENSE</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="w">                                        </span><span class="c1"># * 需要修改  hedwi证书  在网站 https://hedwi.com/signup 注册管理员账号 然后在 https://hedwi.com/license 生成</span>
<span class="nv">PUBLIC_DRIVE_PREFIX</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="w">                                  </span><span class="c1">#   minio访问前缀 与nginx配置对应 默认不需要填写</span>
<span class="nv">CRDB_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:26257&quot;</span><span class="w">                             </span><span class="c1">#   cockroachdb 监听地址</span>
<span class="nv">CRDB_WEB_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:42080&quot;</span><span class="w">                         </span><span class="c1">#   cockroachdb web 监听地址</span>
<span class="nv">DB_NAME</span><span class="o">=</span><span class="s2">&quot;hedwi_selfhost&quot;</span><span class="w">                                </span><span class="c1">#   数据库名称</span>
<span class="nv">OFFICE_API_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:42201&quot;</span><span class="w">                       </span><span class="c1">#   office api服务监听地址</span>
<span class="nv">CONSUL_IP</span><span class="o">=</span><span class="s2">&quot;127.0.0.1&quot;</span><span class="w">                            </span><span class="c1">#   consul 监听IP</span>
<span class="nv">CONSUL_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:8500&quot;</span><span class="w">                            </span><span class="c1">#   consul 监听地址</span>
<span class="nv">REDIS_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:6379&quot;</span><span class="w">                             </span><span class="c1">#   redis 地址</span>
<span class="nv">REDIS_USER</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="w">                                           </span><span class="c1">#   redis默认监听127.0.0.1 没有密码</span>
<span class="nv">REDIS_PASSWORD</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="w">                                       </span><span class="c1">#   redis默认监听127.0.0.1 没有密码</span>
<span class="nv">IMAP_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:42994&quot;</span><span class="w">                             </span><span class="c1">#   imap服务器监听地址</span>
<span class="nv">IMAP_TLS_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:42993&quot;</span><span class="w">                         </span><span class="c1">#   imap tls服务器监听地址</span>
<span class="nv">HUB_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:41002&quot;</span><span class="w">                              </span><span class="c1">#   hub rpc 服务监听地址</span>
<span class="nv">SEARCH_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:41701&quot;</span><span class="w">                           </span><span class="c1">#   search 搜索服务监听地址</span>
<span class="nv">FILTER_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:41003&quot;</span><span class="w">                           </span><span class="c1">#   邮件过滤服务监听地址</span>
<span class="nv">NATS_URL</span><span class="o">=</span><span class="s2">&quot;nats://127.0.0.1:42422&quot;</span><span class="w">                       </span><span class="c1">#   nats 消息队列监听地址</span>
<span class="nv">ALLOW_ORIGIN</span><span class="o">=</span><span class="s2">&quot;http://127.0.0.1:4200&quot;</span><span class="w">                    </span><span class="c1">#   跨域设置</span>
<span class="nv">SMTP_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:42025&quot;</span><span class="w">                             </span><span class="c1">#   smtp 服务器监听地址</span>
<span class="nv">SMTP_TLS_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:42465&quot;</span><span class="w">                         </span><span class="c1">#   smtp tls服务器监听地址</span>
<span class="nv">MEET_SERVER</span><span class="o">=</span><span class="s2">&quot;/&quot;</span><span class="w">                                         </span><span class="c1">#   会议服务器地址</span>
<span class="nv">MEET_KEY</span><span class="o">=</span><span class="s2">&quot;changekeyandsecret&quot;</span><span class="w">                           </span><span class="c1"># * 需要修改 视频会议创建使用的key</span>
<span class="nv">MEET_SECRET</span><span class="o">=</span><span class="s2">&quot;c7056e2x9689f7f3ecx8c6e4055c4bc565dc9c5a&quot;</span><span class="w">  </span><span class="c1"># * 需要修改 视频会议创建使用的secret</span>
<span class="nv">MEET_ADDR</span><span class="o">=</span><span class="s2">&quot;127.0.0.1:8888&quot;</span><span class="w">                              </span><span class="c1">#   视频会议web监听地址</span>
<span class="nv">MEET_AUTH_TYPE</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="w">                                       </span><span class="c1">#   Authentication type  internal or none  none means no authentication</span>
<span class="nv">MQTT_ID</span><span class="o">=</span><span class="s2">&quot;1&quot;</span><span class="w">                                             </span><span class="c1">#   mqtt client id</span>
<span class="nv">MQTT_IP</span><span class="o">=</span><span class="s2">&quot;127.0.0.1&quot;</span><span class="w">                                     </span><span class="c1">#   mqtt 监听地址</span>
<span class="nv">MQTT_PORT</span><span class="o">=</span><span class="s2">&quot;1883&quot;</span><span class="w">                                        </span><span class="c1">#   mqtt 监听端口</span>
<span class="nv">MQTT_PROTOCOL</span><span class="o">=</span><span class="s2">&quot;wss&quot;</span><span class="w">                                     </span><span class="c1">#   mqtt 协议</span>
<span class="nv">MQTT_PUBLIC_PORT</span><span class="o">=</span><span class="s2">&quot;41883&quot;</span><span class="w">                                </span><span class="c1">#   mqtt 公网端口</span>
<span class="nv">AI_TOKEN</span><span class="o">=</span><span class="s2">&quot;&quot;</span><span class="w">                                             </span><span class="c1">#  需要修改 AI token</span>
<span class="nv">AI_MODEL</span><span class="o">=</span><span class="s2">&quot;deepseek-chat&quot;</span><span class="w">                                </span><span class="c1">#  需要修改 AI模型</span>
<span class="nv">AI_TYPE</span><span class="o">=</span><span class="s2">&quot;deepseek&quot;</span><span class="w">                                      </span><span class="c1">#  需要修改 AI类型</span>
</pre></div>
</div>
</section>


            <div class="clearer"></div>
          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="Main">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="index.html">
              <img class="logo" src="_static/logo.png" alt="Logo of Hedwi work suite"/>
            </a></p>
<search id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
      <input type="submit" value="Go" />
    </form>
    </div>
</search>
<script>document.getElementById('searchbox').style.display = "block"</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="Related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="genindex.html" title="General Index"
             >index</a></li>
        <li class="nav-item nav-item-0"><a href="index.html">Hedwi work suite  documentation</a> &#187;</li>
        <li class="nav-item nav-item-this"><a href="">env config content</a></li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
    &#169; Copyright 2019-2024, Hedwi.
      Last updated on 2026-03-22 22:05:39.
      Created using <a href="https://www.sphinx-doc.org/">Sphinx</a> 9.1.0.
    </div>
  </body>
</html>